@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All roles";
}

<h1>All roles</h1>

<a class="btn btn-primary mb-2" asp-action="AddRole">Add role</a>

@if (!Model.Any())
{
    <h5>No roles. Use the button above to add one.</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td><h5>Role</h5></td>
                <td></td>
            </tr>
        </thead>
        
            @foreach (var role in Model)
            {
            <tbody>
                <tr>
                    <td>@role.Name</td>
                    <td class="text-center">
                        <a class="btn btn-secondary" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteRole" asp-route-id="@role.Id">Delete</a>
                    </td>
                </tr>
                </tbody>
            }
        
    </table>
}
